<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
      <a href="/"><img src="img/y18.gif"></a>
      <h1>Submit</h1>
    </header>
    <div id = "wrapper">

     <h4><%= @error_message %></h4>

      <form action="/articles/new" method="post">
        <label for="title">title:</label><br>
        <input type="text" id="submit_title" name="title"/><br>

        <form action="/submit" method="post">
          <label for="url">url:</label><br>
          <input type="text" id="submit_url" name="url"/><br>

          <form action="/submit" method="post">
          <label id="description" for="description">description:</label><br>
          <textarea rows="4" cols="50" name="description"></textarea></br>

          <input type="submit" />
        </form>
      </form>

    </div>
  </body>
</html>
